*.csv
*.tsv

*.pt
*.pt
*.pth
*.pkl
*.npy

*.lmdb
*.jpeg
*.jpg
*.png

*.txt

__pycache__

./models
*events*
*experiments*

.DS_Store
__MACOSX

data/cls_first
data/cifar-10*
data/tinyImagenet
data/miniImagenet

models
