.vscode
*.csv
*.tsv

*.pt
*.pth
*.pkl
*.npy

*.lmdb
*.jpeg
*.jpg
*.png

*.txt

__pycache__

./models
*events*
*experiments*

.DS_Store
__MACOSX

data/cls_first
*data/camnet_three*
data/cifar10*
data/cifar-10*
data/camnet3*
data/tinyImagenet*
data/miniImagenet*
data/gen_*
models/camnet/*
models/simclr/*
data/butterfly*
data/birds*
data/strawberry*
generators/*
generators
wandb
*.zip

slurm/_*
!slurm/slurm_template.txt
